$bg-color: #131313;
$text-color: #E3B873;
$FuturaDemiC: 'FuturaDemiC',' Verdana', sans-serif;
$FuturaBookC: 'FuturaBookC',' Verdana', sans-serif;
$FuturaMediumC: 'FuturaMediumC',' Verdana', sans-serif;
$ProximaNova: 'ProximaNova', ' Verdana', sans-serif;
$YesevaOne :'Yeseva One',"Comic Sans MS", cursive;
$mobile: 375px;
$tablet: 768px;

@import url('./fonts.scss');

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    overflow:  hidden;
}

header{
    width: 100%;
    height: 83px;
    display: flex;
    align-items: center;
    background-color: $bg-color;
   
    @media screen and (max-width: $mobile){
        height: 57px;
    }
}
h1{
    position: relative;
    left: 5.7vw;
    font-size: 14px;
    line-height: 16px;
    font-family: $FuturaDemiC;
    text-transform: uppercase;
    color: $text-color;
    @media screen and (max-width: $mobile){
        font-size: 12px;
        line-height: 14px;
    }
}
.navigation{
    position: relative;
    left: 10.84vw;
    display: flex; 
    @media screen and (max-width: $mobile){
        display: none;
    }

    a{
        font-size: 14px;
        line-height: 16px;
        font-family: FuturaBookC;
        color: #FFFFFF;
        text-transform: uppercase;
        &:hover{
            color: $text-color;
        }
    }
    li{
        margin-left: 3vw;
    }
}
.phone{
    position: relative;
    left: 17.96vw;
    font-family: $FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    text-decoration-line: underline;
    color: $text-color;
    @media screen and (max-width: $mobile){
        left: 23.96vw;
        font-size: 12px;
        line-height: 14px;
        text-decoration-line: none;
        color: #FFFFFF;
    }
}
.request-call{
    position: relative;
    left: 20.95vw;
    width: 161px;
    height: 37px;
    background: $text-color;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border: 0;
    border-radius: 2px;
    font-family: $FuturaDemiC;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    @media screen and (max-width: $mobile){
        display: none;
    }
}

.home{
    display: flex;
    width: 100%;
    height: 755px;
    background-color: $bg-color;
    @media screen and (max-width: $mobile){
        height: 476px;
    }
}
.home__article{
    width: 1358px;
    height: 707px;
    background-image:-webkit-linear-gradient(45deg, #13131380, #13131380), url('../assets/image_4.3.png');
    background-image:-moz-linear-gradient(45deg, #13131380, #13131380), url('../assets/image_4.3.png');
    background-image:-ms-linear-gradient(45deg, #13131380, #13131380), url('../assets/image_4.3.png');
    background-size: cover;
    @media screen and (max-width: $mobile){
        width: 100%;
        height: 476px;
        background-size: cover;
        background-image:-webkit-linear-gradient(45deg, #13131380, #13131380), url('../assets/image_4.7.png');
        background-image:-moz-linear-gradient(45deg, #13131380, #13131380), url('../assets/image_4.7.png');
        background-image:-ms-linear-gradient(45deg, #13131380, #13131380), url('../assets/image_4.7.png');
    }
    h2{
        position: relative;
        left: 4vw;
        top: 22vh;
        width: 676px;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 53px;
        text-transform: uppercase;
        font-family: $YesevaOne;
        color: #FFFFFF;
        @media screen and (max-width: $mobile){
            top: 10vh;
            font-size: 23px;
            line-height: 132.83%;
        }
    }
    p{
        position: relative;
        left: 4vw;
        top: 25vh;
        width: 462px;
        font-family: $FuturaBookC;
        font-size: 22px;
        line-height: 30px;
        color: #FFFFFF;
        @media screen and (max-width: $mobile){
            top: 12vh;
            width: 313px;
            font-size: 18px;
            line-height: 135.84%;
        }
    }
}
.article_span{
    color: $text-color;
}
.home__instagram-button{
    position: relative;
    width: 82px;
    height: 707px;
    background-color: $bg-color;
    border: 0;
    color: $text-color;
    @media screen and (max-width: $mobile){
        display: none;
    }
    p{
        position: absolute;
        top: 32vh;
        left: 0.2vw;
        font-family: $FuturaDemiC;
        font-size: 14px;
        line-height: 16px;
        transform: rotate(90deg);
        @media screen and (max-width: $mobile){
            display: none;
        }
    }    
}
.home-button_line{
    position: absolute;
    left: 1vw;
    top: 44vh;
    width: 51px;
    border: 1.5px solid $text-color;
    background-color: $text-color;
    transform: rotate(90deg);
    @media screen and (max-width: $mobile){
        display: none;
    }
}
.home__button-calculate{
    position: relative;
    left: 4vw;
    top: 30vh;
    width: 207px;
    height: 51px;
    border: $text-color;  
    border-radius: 2px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    background-color: $text-color;
    @media screen and (max-width: $mobile){
        top: 16.5vh;
        width: 338.61px;
    }
    a{
        font-family: $FuturaDemiC;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        color: #FFFFFF;
    }
    &:hover{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.2);
    }
}
.home__button-submit{
    position: relative;
    left: 5vw;
    top: 30vh;
    width: 207px;
    height: 51px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.01);
    @media screen and (max-width: $mobile){
        left: 4vw;
        top: 19vh;
        width: 338.61px;
    }
    .submit-text-desktop{
        font-family: $FuturaDemiC;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        color: #FFFFFF;
        @media screen and (max-width: $mobile){
            display: none;
        }
    }
    .submit-text-mobile{
        display: none;
        @media screen and (max-width: $mobile){
            display: inline;
            font-family: $FuturaDemiC;
            font-size: 13px;
            line-height: 15px;
            text-align: center;
            color: #FFFFFF;
        }
    }
    &:hover{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.2);
    }
}
.button-scroll{
    position: relative;
    right: 6%;
    top: 57%;
    width: 247px;
    height: 97px;
    background-color: $bg-color;
    @media screen and (max-width: $mobile){
        display: none;
    }
    a{
        position: relative;
        top: 4.2vh;
        left: 3.5vw;
        display: flex;
        align-items: center;
        width: 150px;
        height: 29px;
        font-family: $YesevaOne;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: #FFFFFF;
        img{
            width: 29px;
            height: 29px;
            margin-left: 1.2vw;
        }
    }
}


.projects{
    display: flex;
    width: 100%;
    height: 1074px;
    background-color: $bg-color;
    @media screen and (max-width: $mobile){
        // display: grid;
        // grid-template-areas: "header" "slider";
        flex-direction: column;
        height: 1547px;
    }
}
.projects__description{
    display: grid;
    grid-template-areas: "header header" 
                         "city area"
                         "time cost"
                         "control control";
    grid-template-rows: 2fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 426px;
    height: 482px;
    padding-left: 7vw;
    padding-top: 16vh;
    @media screen and (max-width: $mobile){
        grid-template-areas: "header header" "slider slider" "city area" "time cost";
        grid-template-rows: 2fr 250px 1fr 1fr;
        padding-left: 0;
        padding-top: 7vh;
        width: 375px;
    }
}
.projects__description-section{
    grid-area: header;
}
.projects__description-header{
    font-family: $YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: $text-color;
    @media screen and (max-width: $mobile){
        font-size: 22px;
        line-height: 138.6%;
        text-align: center;
        letter-spacing: -0.07em;
    }
}
.projects_description-line{
    position: relative;
    bottom: 9%;
    left: 38%;
    width: 92px;
    border: 1px solid $text-color;
    background-color: $text-color;
    @media screen and (max-width: $mobile){
        display: none;
    }
}
.projects__description-text{
    margin-top: 4%;
    margin-bottom: 11%;
    font-family: $FuturaBookC;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
    @media screen and (max-width: $mobile){
        width: 311px;
        padding-left: 9%;
        font-size: 14px;
        line-height: 158.48%;
        /* or 22px */
        text-align: center;
    }
}
.projects__descripion-city,
.projects__descripion-area,
.projects__descripion-time,
.projects__descripion-cost{
    h2{
        font-family: $YesevaOne;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        color: $text-color;
        @media screen and (max-width: $mobile){
            font-size: 14px;
            line-height: 138.6%;
        }
    }
    p{
        font-family: $FuturaBookC;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
        @media screen and (max-width: $mobile){
            font-size: 14px;
            line-height: 135.84%;
        }
    }
}
.projects__descripion-city{
    grid-area: city;
    margin-bottom: 18%;
    @media screen and (max-width: $mobile){
        margin-top: 8%;
        padding-left: 11%;
        margin-bottom: 10%;
    }
}
.projects__descripion-area{
    grid-area: area;
    margin-bottom: 18%;
    @media screen and (max-width: $mobile){
        margin-top: 8%;
        margin-bottom: 10%;
    }
}
.projects__descripion-time{
    grid-area: time;
    margin-bottom: 18%;
    @media screen and (max-width: $mobile){
        padding-left: 11%;
    }
}
.projects__descripion-cost{
    grid-area: cost;
    margin-bottom: 18%;
    @media screen and (max-width: $mobile){

    }
}
.projects__slider-control{
    grid-area: control;
    align-self: flex-end;
    input{
        display: none;
    }
}

.projects__slider-label {
    display: flex;
    align-items: center;
    @media screen and (max-width: $mobile){
        display: none;
    }
    label{
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 0 8px;
        border-radius: 30px;
        cursor: pointer;
        background: rgba(255, 255, 255, 0.3);
    }
    
  }
  
#switch1:checked~.projects__slider-label label[for="switch1"] {
    background-color: white;
}
#switch2:checked~.projects__slider-label label[for="switch2"] {
    background-color: white;
}
#switch3:checked~.projects__slider-label label[for="switch3"] {
    background-color: white;
}
.slider-control_left{
    margin-right: 10px; 
}
.slider-control_right{
    margin-left: 10px; 
}

.projects__slider-navigation{
    margin-bottom: 5%;
    @media screen and (max-width: $mobile){
        display: none;
    }
    li{
        display: inline;
        margin-right: 6%;
        font-family: $YesevaOne;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.3);
        &:hover{
            padding-bottom: 10px;
            border-bottom: 1px solid $text-color;
            color: $text-color;
        }
    }
}
.projects__slider{
    position: relative;
    top: 6%;
    left: 5%;
    width: 920px;
    @media screen and (max-width: $mobile){
        top: -18%;
        grid-area: slider;
        width: 340px;
        height: 240px;
    }
}
.slides1,
.slides2,
.slides3{
    float: left;
    width: 47vw;
    margin-right: 1%;
    @media screen and (max-width: $mobile){
        width: 340px;
        height: 241px;
    }

}
.slider-inner {
    width: 92.1%;
    overflow: hidden;
    @media screen and (max-width: $mobile){
        width: 163%;
    }
  }
.slides {
    width: 300%;
    transition: all 0.5s;
}
.slider_button-right{
    position: absolute;
    left: 85%;
    top: 26%;
    width: 6.5vh;
    height: 6.5vh;
    border: 0;
    border-radius: 50%;
    background-color: $text-color;
    @media screen and (max-width:$mobile) {
        left: 87%;
        top: 41%;
        width: 36px;
        height: 36px;
        border: 0;
        border-radius: 50%;
        background-color: $text-color;
        img{
            width: 6px;
        }
    }
}
.slider_button-left{
    display: none;
    @media screen and (max-width:$mobile) {
        position: absolute;
        top: 41%;
        left: 2%;
        display: block;
        width: 36px;
        height: 36px;
        border: 0;
        border-radius: 50%;
        background-color: $text-color;
        img{
            width: 6px;
        }
    }
}


.section_online-control{
    position: absolute;
    top: 1540px;
    left: 22vw;
    width: 817px;
    height: 980px;
    @media screen and (max-width:$mobile) {
        width: 370px;
        top: 1225px;
        left: 0;
    }
}
.online-control_header{
    font-family: $YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    @media screen and (max-width:$mobile) {
        margin-bottom: 5%;
    }
}
.online-control_group{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 4%;
    @media screen and (max-width:$mobile) {
        margin-bottom: 5%;
    }
}
.online-line{
    width: 32px;
    height: 0.5px;
    border: 0.5px solid $text-color;
    background-color: $text-color;
}
.online-control_video{
    margin-bottom: 4%;
    iframe{
        -webkit-box-shadow: 0px 4px 24px -8px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 4px 24px -8px rgba(0,0,0,0.75);
        box-shadow: 0px 4px 24px -8px rgba(0,0,0,0.75);
    }
    @media screen and (max-width:$mobile) {
        width: 340px;
        height: 207px;
        padding-left: 2.5%;
    }

}
.online-control__text-line{
    position: relative;
    left: 46%;
    width: 55px;
    height: 0.5px;
    margin-bottom: 6%;
    border: 0.5px solid $text-color;
    @media screen and (max-width:$mobile) {
        left: 39%;
    }
}
.online-control_text{
    position: relative;
    left: 8%;
    margin-bottom: 12%;
    width: 681px;
    font-family: $FuturaBookC;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: $bg-color;
    @media screen and (max-width:$mobile) {
        left: 0;
        width: 340px;
        padding-left: 4.5%;
        font-size: 14px;
        line-height: 169.8%;
        color: #FFFFFF;
    }
}
.submit-form{
   position: relative;
   height: 116px;
   @media screen and (max-width:$mobile) {
       width: 340px;
       height: 311px;
       padding-left: 4.5%;
       display: flex;
       flex-direction: column;
   }
}
.submit-form__label{
    position: absolute;
    bottom: 110px;
    margin-left: 1.7%;
    font-family: $FuturaBookC;
    font-size: 15px;
    line-height: 20px;
    color: rgba(54, 54, 54, 0.5);
    @media screen and (max-width:$mobile) {
        position: relative;
        bottom: 0;
        margin-left: 0;
        font-size: 15px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.5);
    }
}
.submit-form__input{
    width: 233px;
    height: 30px;
    margin-left: 2%;
    margin-right: 4%;
    border: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);

    font-family: $FuturaBookC;
    font-size: 18px;
    line-height: 24px;
    color: #363636;
    @media screen and (max-width:$mobile) {
        width: 340px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 2%;
        margin-bottom: 12%;
        background-color: $bg-color;
        border-bottom: 1px solid rgba(255,255, 255, 0.3);
        box-sizing: border-box;
        color: #FFFFFF;
    }
}
.submit-form__button-submit{
    position: absolute;
    top: -13%;
    width: 200px;
    height: 51px;
    border: 0;
    border-radius: 2px;
    background-color: $text-color;
    font-family: $FuturaDemiC;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    -webkit-box-shadow: 0px 4px 24px -8px rgba(227,184,115,1);
    -moz-box-shadow: 0px 4px 24px -8px rgba(227,184,115,1);
    box-shadow: 0px 4px 24px -8px rgba(227,184,115,1);
    @media screen and (max-width:$mobile) {
        top: 282px;
        width: 340px;
        height: 51px;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(227,184,115,1);
        -moz-box-shadow: 0px 0px 0px 0px rgba(227,184,115,1);
        box-shadow: 0px 4px 0px 0px rgba(227,184,115,1);
    }
}

.submit-form__checkbox{
  display: none;
}
.submit-form__checkbox-label:after {
    position: absolute;
    left: -10%;
    top: 16%;
	content:'';
	display:block;
	height: 11px;
	width: 11px;
    outline:1px solid $text-color;
    border-radius: 1px;
    @media screen and (max-width:$mobile) {
       
    }

}
.submit-form__checkbox:checked + .submit-form__checkbox-label:after {
    content: '\2714';
    width:11px;
	height:11px;
	outline:1px solid $text-color;
    border-radius: 1px;
    background-color: $text-color;
    font-size:8px;
    line-height: 112%;
    color: #FFFFFF;
    text-align: center;
}
.submit-form__checkbox-label{
    position: absolute;
    top: 53%;
    left: 34%;
    font-family: $FuturaBookC;
    font-size: 16px;
    line-height: 22px;
    @media screen and (max-width:$mobile) {
        position: relative;
        top: 0;
        left: 10%;
        color: #FFFFFF;
    }
}



.measurement{
    position: relative;
    width: 100%;
    height: 2620px;
    @media screen and (max-width: $mobile){
        height: 2030px;
    }
}

.article__type-repair{
    position: absolute;
    top: 780px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    @media screen and (max-width:$mobile) {
        top: 90px;
    }
}
.type-repair__header{
    font-family: $YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;

}
.type-repair__group{
    position: relative;
    left: 45.5%;
    display: flex;
    align-items: center; 
    width: 257px;
    margin-top: 2%;
    @media screen and (max-width:$mobile) {
        left: 34.4%;
        margin-top: 4%;
    }
}
.type-repair__line{
    width: 32px;
    height: 0.5px;
    margin-left: 2%;
    margin-right: 2%;
    border: 0.5px solid $text-color;
    background-color: $text-color;
}
.types-design{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 616px;
    margin-top: 4%;
    @media screen and (max-width:$mobile) {
        position: absolute;
        top: -14%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 370px;
        height: 1600px;
        margin-left: 1%;
    }
    section{
        width: 28vw;
        height: 421px;
        margin-right: 2%;
        @media screen and (max-width:$mobile) {
            width: 340px;
            height: 365px;
        }
    }
}
.types-design__section1{
    background-image: url('../assets/types_design1.png');
    background-size: cover;
    
}
.types-design__section2{
    background-image: url('../assets/types_design2.png');
    background-size: cover;
}
.types-design__section3{
    background-image: url('../assets/types_design3.png');
    background-size: cover;
}
.types-design__article{
    position: relative;
    top: 68%;
    left: 8%;
    width: 23vw;
    height: 286px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 4px 11px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 11px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 11px -1px rgba(0,0,0,0.75);
    @media screen and (max-width:$mobile) {
        top: 61%;
        left: 0;
        width: 270px;
        height: 241px;
    }
}
.types-design__header{
    position: relative;
    top: 6%;
    left: 7%;
    font-family: $YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    @media screen and (max-width:$mobile) {
        font-size: 15px;
        line-height: 138.8%;
    }
}
.types-design__list{
    position: relative;
    top: 9%;
    left: 15%;
    font-family: $FuturaBookC;
    font-size: 15px;
    line-height: 25px;
    color: #959595;
    li{
        list-style:disc;
    }
    @media screen and (max-width:$mobile) {
        font-size: 13px;
        line-height: 169.8%;
    }
}
.types-design__rectangle{
    position: relative;
    top: 18%;
    width: 228px;
    height: 54px;
    background-color: $text-color;
    -webkit-box-shadow: 0px 4px 24px -8px rgba(227,184,115,1);
    -moz-box-shadow: 0px 4px 24px -8px rgba(227,184,115,1);
    box-shadow: 0px 4px 24px -8px rgba(227,184,115,1);
    @media screen and (max-width:$mobile) {
        width: 190px;
        height: 40px;
    }
    p{
        padding-top: 5%;
        font-family: $YesevaOne;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;
        @media screen and (max-width:$mobile) {
            font-size: 15px;
            line-height: 138.6%;
        }

    }
}

.circle-request{
    position: relative;
    top: 1600px;
    display: flex;
    height: 683px;
    @media screen and (max-width:$mobile) {
         display: none;
    }
}
.section-circle{
    position: relative;
    width: 56vw;
    background-image: url('../assets/image_6.1.png');
    background-size: 807px 597px;
}
.background-circle{
    position: relative;
    top: 5%;
    left: -17%;
    width: 636px;
    height: 636px;
    border-radius: 100%;
    border: 5px solid #E3B873;
    border-right: 10px solid #FFFFFF01;
}
.background-circle2{
    position: absolute;
    left: 92%;
    top: 61%;
    width: 21px;
    height: 139px;
    border-radius: 100%;
    border: 5px solid #FFFFFF01;
    border-right: 5px solid #E3B873;
    transform: rotate(25deg);
}
.background-circle3{
    position: absolute;
    left: 90%;
    top: 16%;
    width: 3px;
    height: 50px;
    border-radius: 100%;
    border: 5px solid #FFFFFF01;
    border-right: 5px solid #E3B873;
    transform: rotate(-34deg);
}
.background-circle4{
    position: absolute;
    left: 99%;
    top: 38%;
    width: 7px;
    height: 70px;
    border-radius: 100%;
    border: 5px solid #FFFFFF01;
    border-right: 5px solid #E3B873;
    transform: rotate(-7deg);
}
.circle{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: $text-color;
   
        font-family: $YesevaOne;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        line-height: 200%;
        color: #FFFFFF;

}
.circle-container{
    display: flex;
    align-items: center;
    p{
        padding-left: 2%;
        font-family: $FuturaMediumC;
        font-size: 18px;
        line-height: 21px;
        color: #363636;
    }
}
.circle-container1{
    position: absolute;
    top: 14%;
    left: 48%;
}
.circle-container2{
    position: absolute;
    top: 31%;
    left: 58%;
}
.circle-container3{
    position: absolute;
    top: 56%;
    left: 61%;
}
.circle-container4{
    position: absolute;
    top: 84%;
    left: 49%;
}
.request-form{
    position: relative;
    top: 15%;
    left: 8%;
    display: flex;
    flex-direction: column;
    width: 506px;
    height: 509px;
    background-color: $bg-color;
    -webkit-box-shadow: -2px 2px 26px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 26px -12px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 26px -12px rgba(0,0,0,0.75);
    p{
        margin-top: 5%;
        font-family: $FuturaDemiC;
        font-size: 20px;
        line-height: 25px;
        text-align: center;

        color: #FFFFFF;
    }
}
.request-form__label{
    margin-top: 8%;
    margin-bottom: 1%;
    margin-left: 9%;
    font-family: $FuturaBookC;
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
}
.request-form__input{
    margin-left: 9%;
    width: 408px;
    height: 29px;
    border: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    background-color: $bg-color;
    font-family: $FuturaMediumC;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.request-form__input::placeholder { 
    font-family: $FuturaMediumC;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.request-form__input::-webkit-input-placeholder { /* Edge */
    font-family: $FuturaMediumC;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.request-form__button-submit{
    width: 213px;
    height: 51px;
    margin-top: 12%;
    margin-left: 50%;
    border: 0;
    background-color: $text-color;
    font-family: $FuturaDemiC;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.request-form__checkbox{
    display: none;
}
.request-form__checkbox-label:after {
    position: absolute;
    top: 34%;
    left: -11%;
    content:'';
    display:block;
    height: 11px;
    width: 11px;
    outline:1px solid $text-color;
    border-radius: 1px;
    
}
.request-form__checkbox:checked + .request-form__checkbox-label:after {
    content: '\2714';
    width:11px;
    height:11px;
    outline:1px solid $text-color;
    border-radius: 1px;
    background-color: $text-color;
    font-size:8px;
    line-height: 112%;
    color: #FFFFFF;
    text-align: center;
}
.request-form__checkbox-label{
    position: absolute;
    top: 73%;
    margin-left: 15%;
    font-family: $FuturaBookC;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}
.piggy-bank{
    position: relative;
    top: 20%;
    left: 10%;
    display: flex;
    p{
        width: 222px;
        margin-top: 4%;        
        font-family: $FuturaDemiC;
        font-size: 20px;
        line-height: 25px;
        color: #E3B873;
        text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    }
}
  

.styles{
    display: flex;
    width: 100%;
    height: 864px;
    background:-webkit-linear-gradient(45deg, #13131380, #13131380), url('../assets/image_5.1.png');
    background:-moz-linear-gradient(45deg, #13131380, #13131380), url('../assets/image_5.1.png');
    background:-ms-linear-gradient(45deg, #13131380, #13131380), url('../assets/image_5.1.png');
    background-size: cover;
    @media screen and (max-width: $mobile){
        height: 200px;
        flex-direction: column;
        background: $bg-color;
    }
}
.styles__article{
    width: 375px;
    padding-top: 9%;
    padding-left: 10%;
    @media screen and (max-width: $mobile){
        padding-top: 0;
        padding-left: 0;
    }
}
.styles__article__header{
    margin-bottom: 7%;
    font-family: $YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: $text-color;
    @media screen and (max-width: $mobile){
        position: relative;
        top: -310%;
        margin-bottom: 0;
        text-align: center;
    }
}
.styles__article__list{
    a{
        margin-bottom: 2%;
        font-family: $ProximaNova;
        font-size: 20px;
        line-height: 34px;
        color: #FFFFFF;
        &:hover{
            padding-bottom: 4px;
            border-bottom: 1px solid $text-color;
            color: $text-color;
        }
    }
    li{
        margin-top: 3%;
    }
    @media screen and (max-width: $mobile){
        display: none;
    }

}
.styles-img{
    position: relative;
    left: 5%;
    top: -3%;
    width: 860px; 
    @media screen and (max-width: $mobile){
        display: none;
    }   
}
.styles-img__item2{
    position: relative;
    top: -39%;
    left: 4%;
}
.styles-img__item3{
    position: relative;
    top: -28%;
}
.styles-img__item4{
    position: relative;
    left: 5%;
    top: -35%;
}
.styles-img__slider{
    display: none;
    @media screen and (max-width: $mobile){
        position: relative;
        top: -100%;
        left: 5%;
        display: inline;
        width: 340px;
        height: 242px;
    } 
}
.slider-img__item1,
.slider-img__item2,
.slider-img__item3{
    float: left;
    width: 340px;
    height: 242px;
}
.styles-img__slider-inner{
    overflow: hidden;
}
.styles-img__slides {
    width: 300%;
    transition: all 0.5s;
}
.styles-img__slider-inner input{
    display: none;
}
.styles-img__button-left{
    position: absolute;
    top: 46%;
    left: 2%;
    display: block;
    width: 36px;
    height: 36px;
    border: 0;
    border-radius: 50%;
    background-color: #E3B873;
    img{
        width: 6px;
    }
}
.styles-img__button-right{
    position: absolute;
    top: 46%;
    right: 2%;
    display: block;
    width: 36px;
    height: 36px;
    border: 0;
    border-radius: 50%;
    background-color: #E3B873;
    img{
        width: 6px;
    }
}


.design-project{
    position: relative;
    width: 100%;
    height: 621px;
    @media screen and (max-width: $mobile){
        height: 1910px;
        background-color: $bg-color;
    }
}
.design-project__header{
    position: relative;
    top: 25%;
    font-family: $YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    @media screen and (max-width: $mobile){
        top: -2%;
        color: #FFFFFF;
    }
}
.design-project__group{
    position: absolute;
    top: 33%;
    left: 46%;
    display: flex;
    align-items: center;
    @media screen and (max-width: $mobile){
        top: 1%;
        left: 36%;
    }
}
.design-project__line{
    width: 33px;
    height: 0.5px;
    margin-right: 2%;
    margin-left: 2%;
    border: 0.5px solid $text-color;
}
.design-project__paragraph{
    position: absolute;
    top: 42%;
    left: 27%;
    width: 668px;
    height: 57px;
    font-family: FuturaBookC;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    color: $bg-color;
    @media screen and (max-width: $mobile){
        top: 4%;
        left: 11%;
        width: 289px;
        height: 76px;
        font-size: 15px;
        line-height: 135.84%;
        color: #FFFFFF;
    }
}
.design-project__section-group{
    position: relative;
    top: 51%;
    left: 5%;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    @media screen and (max-width: $mobile){
        top: 10%;
        height: 1530px;
        flex-direction: column;
        justify-content: space-between;
    }
}
.design-project__section-item1{
    width: 392px;
    height: 421px;
    background-image: url('../assets/types_design1.png');
    background-size: cover;
    @media screen and (max-width: $mobile){
        width: 340px;
        height: 365px;
    }
}
.design-project__section-item2{
    width: 392px;
    height: 421px;
    background-image: url('../assets/types_design3.png');
    background-size: cover;
    @media screen and (max-width: $mobile){
        width: 340px;
        height: 365px;
    }
}
.design-project__section-item3{
    width: 392px;
    height: 421px;
    background-image: url('../assets/types_design4.png');
    background-size: cover;
    @media screen and (max-width: $mobile){
        width: 340px;
        height: 365px;
        margin-top: 6%;
    }
}
.design-project__section-article1{
    width: 330px;
    height: 211px;
    margin-left: 8%;
    margin-top: 74%;
    background-color: #FFFFFF;
    @media screen and (max-width: $mobile){
        width: 270px;
        margin-left: 0;
    }
    .design-project__rectangle{
        @media screen and (max-width: $mobile){
            margin-top: 24%;
        }
    }
}
.design-project__section-article2{
    width: 330px;
    height: 286px;
    margin-left: 8%;
    margin-top: 74%;
    background-color: #FFFFFF;
    @media screen and (max-width: $mobile){
        width: 270px;
        height: 241px;
        margin-left: 0;
    }
}
.design-project__section-article3{
    width: 330px;
    height: 414px;
    margin-left: 8%;
    margin-top: 74%;
    background-color: #FFFFFF;
    @media screen and (max-width: $mobile){
        width: 270px;
        height: 241px;
        margin-left: 0;
    }
}
.design-project__section-header{
    padding-top: 4%;
    padding-left: 9%;
    padding-bottom: 2%;
    font-family: $YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    @media screen and (max-width: $mobile){
        font-size: 15px;
        line-height: 138.6%;
    }
}
.design-project__section-list{
    padding-bottom: 1%;
    padding-left: 14%;
    font-family: $FuturaBookC;
    font-size: 15px;
    line-height: 25px;
    color: #959595;
    li{
        list-style: disc;
    }
    @media screen and (max-width: $mobile){
        font-size: 13px;
        line-height: 169.8%;
    }
}
.design-project__rectangle{
    width: 228px;
    height: 54px;
    margin-top: 12%;
    background-color: $text-color;
    @media screen and (max-width: $mobile){
        width: 190px;
        height: 40px;
        -webkit-box-shadow: 0px 4px 24px -8px rgba(227,184,115,1);
        -moz-box-shadow: 0px 4px 24px -8px rgba(227,184,115,1);
        box-shadow: 0px 4px 24px -8px rgba(227,184,115,1);
    }
    p{
        padding-left: 11%;
        padding-top: 6%;
        font-family: $YesevaOne;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        
        color: #FFFFFF;
        @media screen and (max-width: $mobile){
            padding-left: 0;
            font-size: 15px;
            line-height: 21px;
            text-transform: uppercase;
            text-align: center;
        }
    }
}
.design-project__items{
    @media screen and (max-width: $mobile){
        display: none;
    }
}


.goal{
    width: 100%;
    height: 1615.53px;
    background-color: $bg-color;
    @media screen and (max-width: $mobile){
        height: 1900px;
    }
    
}
.goal__content{
    position: relative;
    top: 26%;
    padding-left: 7%;
    @media screen and (max-width: $mobile){
        display: none;
    }
}
.goal__header-text{
    font-family: $FuturaDemiC;
    font-size: 15px;
    line-height: 21px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.goal__header{
    width: 163px;
    font-family: $YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;

    color: $text-color;
}
.goal__header-line{
    position: absolute;
    top: 14%;
    left: 21%;
    width: 91px;
    height: 0.5px;
    border: 0.5px solid $text-color;
}
.goal__slider{
    display: flex;
}
.goal__slider-text{
    width: 465px;
}
.goal__slider-number{
    padding-top: 15%;
    padding-bottom: 4%;
    font-family: $YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;   
}
.goal__slider-header{
    padding-bottom: 4%;
    width: 250px;
    font-family: $YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    text-transform: uppercase;

    color: $text-color;
}
.goal__slider-paragraph{
    padding-bottom: 4%;
    width: 330px;
    font-family: $FuturaBookC;
    font-size: 15px;
    line-height: 25px;
    
    color: #FFFFFF;
}
.goal__slider-control input{
    display: none;
}
.goal__slider-control__label {
    padding-top: 15%;
    display: flex;
    align-items: center;
    label{
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 0 8px;
        border-radius: 30px;
        cursor: pointer;
        background: rgba(255, 255, 255, 0.3);
    }
    
} 
#goal__switch1:checked~.goal__slider-control__label label[for="goal__switch1"] {
    background-color: white;
}
#goal__switch2:checked~.goal__slider-control__label label[for="goal__switch2"] {
    background-color: white;
}
#goal__switch3:checked~.goal__slider-control__label label[for="goal__switch3"] {
    background-color: white;
}
#goal__switch4:checked~.goal__slider-control__label label[for="goal__switch4"] {
    background-color: white;
}
#goal__switch5:checked~.goal__slider-control__label label[for="goal__switch5"] {
    background-color: white;
}
#goal__switch6:checked~.goal__slider-control__label label[for="goal__switch6"] {
    background-color: white;
}
.goal__slider-control_left{
    margin-right: 20px; 
}
.goal__slider-control_right{
    margin-left: 20px; 
}
.goal__slider-navigation-control input{
    display: none;
}
.goal__slider-navigation__label{
    display: grid;
    grid-template-areas: "ar1 ar2 ar3" "ar4 ar5 ar6";
    grid-template-columns: repeat(3, 45%);
    grid-template-rows: 106px 1fr;
    width: 94%;
    font-family: $FuturaBookC;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF70;
    span{
        padding-bottom: 1%;
        border-bottom: 1px solid $text-color;
        font-family: $YesevaOne;
        font-style: normal;
        font-weight: normal;
        line-height: 27px;
        text-transform: uppercase;
    }
    label{
        width: 127px;
    }
}
.goal__slider-navigation__label1{
    grid-area: ar1;
}
.goal__slider-navigation__label2{
    grid-area: ar2;
}
.goal__slider-navigation__label3{
    grid-area: ar3;
}
.goal__slider-navigation__label4{
    grid-area: ar4;
}
.goal__slider-navigation__label5{
    grid-area: ar5;
}
.goal__slider-navigation__label6{
    grid-area: ar6;
}
  
#goal__nav1:checked~.goal__slider-navigation__label label[for="goal__nav1"] {
    color: #FFFFFF;
}
#goal__nav2:checked~.goal__slider-navigation__label label[for="goal__nav2"] {
    color: #FFFFFF;
}
#goal__nav3:checked~.goal__slider-navigation__label label[for="goal__nav3"] {
    color: #FFFFFF;
}
#goal__nav4:checked~.goal__slider-navigation__label label[for="goal__nav4"] {
    color: white;
}
#goal__nav5:checked~.goal__slider-navigation__label label[for="goal__nav5"] {
    color: white;
}
#goal__nav6:checked~.goal__slider-navigation__label label[for="goal__nav6"] {
    color: white;
}
.goal__slider-inner{
    margin-top: 5%;
    width: 765px;
    height: 376px;
}


.team{
    position: relative;
    top: 32%;
    @media screen and (max-width: $mobile){
        top: 4%;
    }
}
.team__header{
    font-family: $YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
    @media screen and (max-width: $mobile){
        font-size: 22px;
        line-height: 138.6%;
    }
}
.team__header-group{
    display: flex;
    align-items: center;
    padding-left: 45.4%;
    padding-top: 2%;
    padding-bottom: 2%;
    @media screen and (max-width: $mobile){
        padding-left: 32%;
        padding-top: 4%;
        padding-bottom: 4%;
    }
}
.team__header-line{
    margin: 0 10px;
    width: 32px;
    height: 0.5px;
    border: 0.5px solid $text-color;
}
.team__header-text{
    width: 450px;
    padding-left: 34.4%;
    font-family: $FuturaBookC;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;    
    @media screen and (max-width: $mobile){
        width: 340px;
        padding-left: 5%;
        font-size: 15px;
        line-height: 135.84%;
    }
}
.team-person__container{
    display: flex;
    width: 1100px;
    justify-content: space-between;
    padding-left: 11%;
    padding-top: 5%;
    @media screen and (max-width: $mobile){
        width: 348px;
        height: 1480px;
        flex-direction: column;
        padding-top: 20%;
        padding-left: 13%;
    }
}
.team-person{
    width: 272px;
    height: 357px;
    @media screen and (max-width: $mobile){
        width: 304px;
        background-size: cover;
    }
}
.team-person1{
    background-image: url('../assets/person1.png');
}
.team-person2{
    background-image: url('../assets/person2.png');
}
.team-person3{
    background-image: url('../assets/person3.png');
}
.team-person__logo{
    position: relative;
    bottom: 9%;
    right: 12%;
    width: 70px;
    height: 70px;
    background-color: $text-color;
    text-align: center;
    -webkit-box-shadow: 0px 4px 24px -8px rgba(227,184,115,1);
    -moz-box-shadow: 0px 4px 24px -8px rgba(227,184,115,1);
    box-shadow: 0px 4px 24px -8px rgba(227,184,115,1);
    img{
        padding-top: 15%;
    }
}
.team-person__article{
    width: 233px;
    height: 137px;
    margin-left: 7%;
    margin-top: 76%;
    background-color: #FFFFFF;
    @media screen and (max-width: $mobile){
        margin-left: 12%;
    }
}
.team-person__name{
    position: relative;
    top: 10%;
    font-family: $YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    
    color: #181818;
    @media screen and (max-width: $mobile){
        top: 12%;
    }
}
.team-person__text{
    position: relative;
    top: 15%;
    font-family: $FuturaBookC;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #959595;
    @media screen and (max-width: $mobile){
        top: 17%;
    }
}
.team-person__experience{
    width: 233px;
    height: 44px;
    margin-top: 19%;
    background-color: $text-color;
    p{
        padding-top: 5%;
        font-family: $YesevaOne;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;

        color: #FFFFFF;
    }
}
.team__line{
    width: 55px;
    height: 0.5px;
    margin-top: 7%;
    margin-bottom: 2%;
    margin-left: 47%;
    border: 0.5px solid $text-color;
    @media screen and (max-width: $mobile){
        display: none;
    }
}
.team__text{
    width: 558px;
    margin-left: 30%;
    font-family: $FuturaBookC;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: $bg-color;
    @media screen and (max-width: $mobile){
        display: none;
    }
}


.clients{
    width: 100%;
    height: 1050px;
    @media screen and (max-width: $mobile){
        display: none;
    }
}
.clients__header{
    margin-top: 39%;
    font-family: $YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}
.clients__header-group{
    display: flex;
    align-items: center;
    margin-left: 44.5%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.clients__header-line{
    width: 32px;
    height: 0.5px;
    margin-right: 2%;
    margin-left: 2%;
    border: 0.5px solid $text-color;
}
.clients__header-text{
    width: 400px;
    margin-left: 36%;
    font-family: $FuturaBookC;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #363636;  
    text-transform: lowercase;  
}
.clients__container{
    display: flex;
    justify-content: space-around;
    width: 91vw;    
    padding-left: 6%;
    padding-top: 4%;
}
.clients__person{
    width: 376px;
    height: 424px;
    background-color: #FFFFFF;
}
.clients__person-header{
    display: flex;
    align-items: center;
    margin-left: 6%;
    margin-top: 5%;
    img{
        border-radius: 50%;
    }
}
.clients__person-name{
    padding-left: 4%;
    font-family: $YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    
    color: #181818;
}
.clients__person-review{
    width: 324px;
    margin-left: 6%;
    margin-top: 2%;
    font-family: $FuturaBookC;
    font-size: 15px;
    line-height: 180%;
    /* or 27px */
    color: #959595;
}
.clints__param{
    display: flex;
    width: 293.7px;
    height: 53.6px;
    margin-top: 15%;
    background-color: $text-color;
    -webkit-box-shadow: 0px 4px 24px -8px rgba(227,184,115,1);
    -moz-box-shadow: 0px 4px 24px -8px rgba(227,184,115,1);
    box-shadow: 0px 4px 24px -8px rgba(227,184,115,1);
    p{
        position: relative;
        left: 15%;
        font-family: $YesevaOne;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 24px;

        color: #FFFFFF;
    }
    img{
        position: relative;
        left: 7%;
    }
}
.clients__meters{
    width: 130px;
    display: flex;
    align-items: center;
    border-right: 1px solid #FFFFFF;
}
.clients__days{
    display: flex;
    align-items: center;
}



.map{
    width: 100%;
    height: 953.9px;
    background:-webkit-linear-gradient(45deg, #13131380, #13131380), url('../assets/image_7.2.png');
    background:-moz-linear-gradient(45deg, #13131380, #13131380), url('../assets/image_7.2.png');
    background:-ms-linear-gradient(45deg, #13131380, #13131380), url('../assets/image_7.2.png');
}
footer{
    width: 100%;
    height: 133px;
    background-color: $bg-color;
}
