$bg-color: #131313;
$text-color: #E3B873;
$FuturaDemiC: 'FuturaDemiC',' Verdana', sans-serif;
$FuturaBookC: 'FuturaBookC',' Verdana', sans-serif;
$YesevaOne :'Yeseva One',"Comic Sans MS", cursive;
$mobile: 375px;
$tablet: 768px;

@import url('./fonts.scss');

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    overflow:  hidden;
}

header{
    width: 100%;
    height: 83px;
    display: flex;
    align-items: center;
    background-color: $bg-color;
   
    @media screen and (max-width: $mobile){
        height: 57px;
    }
}
h1{
    position: relative;
    left: 5.7vw;
    font-size: 14px;
    line-height: 16px;
    font-family: $FuturaDemiC;
    text-transform: uppercase;
    color: $text-color;
    @media screen and (max-width: $mobile){
        font-size: 12px;
        line-height: 14px;
    }
}
.navigation{
    position: relative;
    left: 10.84vw;
    display: flex; 
    @media screen and (max-width: $mobile){
        display: none;
    }

    a{
        font-size: 14px;
        line-height: 16px;
        font-family: FuturaBookC;
        color: #FFFFFF;
        text-transform: uppercase;
        &:hover{
            color: $text-color;
        }
    }
    li{
        margin-left: 3vw;
    }
}
.phone{
    position: relative;
    left: 17.96vw;
    font-family: $FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    text-decoration-line: underline;
    color: $text-color;
    @media screen and (max-width: $mobile){
        left: 23.96vw;
        font-size: 12px;
        line-height: 14px;
        text-decoration-line: none;
        color: #FFFFFF;
    }
}
.request-call{
    position: relative;
    left: 20.95vw;
    width: 161px;
    height: 37px;
    background: $text-color;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border: 0;
    border-radius: 2px;
    font-family: $FuturaDemiC;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    @media screen and (max-width: $mobile){
        display: none;
    }
}

.home{
    display: flex;
    width: 100%;
    height: 755px;
    background-color: $bg-color;
    @media screen and (max-width: $mobile){
        height: 476px;
    }
}
.home__article{
    width: 1358px;
    height: 707px;
    background-image:-webkit-linear-gradient(45deg, #13131380, #13131380), url('../assets/image_4.3.png');
    background-image:-moz-linear-gradient(45deg, #13131380, #13131380), url('../assets/image_4.3.png');
    background-image:-ms-linear-gradient(45deg, #13131380, #13131380), url('../assets/image_4.3.png');
    background-size: cover;
    @media screen and (max-width: $mobile){
        width: 100%;
        height: 476px;
        background-size: cover;
        background-image:-webkit-linear-gradient(45deg, #13131380, #13131380), url('../assets/image_4.7.png');
        background-image:-moz-linear-gradient(45deg, #13131380, #13131380), url('../assets/image_4.7.png');
        background-image:-ms-linear-gradient(45deg, #13131380, #13131380), url('../assets/image_4.7.png');
    }
    h2{
        position: relative;
        left: 4vw;
        top: 22vh;
        width: 676px;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 53px;
        text-transform: uppercase;
        font-family: $YesevaOne;
        color: #FFFFFF;
        @media screen and (max-width: $mobile){
            top: 10vh;
            font-size: 23px;
            line-height: 132.83%;
        }
    }
    p{
        position: relative;
        left: 4vw;
        top: 25vh;
        width: 462px;
        font-family: $FuturaBookC;
        font-size: 22px;
        line-height: 30px;
        color: #FFFFFF;
        @media screen and (max-width: $mobile){
            top: 12vh;
            width: 313px;
            font-size: 18px;
            line-height: 135.84%;
        }
    }
}
.article_span{
    color: $text-color;
}
.home__instagram-button{
    position: relative;
    width: 82px;
    height: 707px;
    background-color: $bg-color;
    border: 0;
    color: $text-color;
    @media screen and (max-width: $mobile){
        display: none;
    }
    p{
        position: absolute;
        top: 32vh;
        left: 0.2vw;
        font-family: $FuturaDemiC;
        font-size: 14px;
        line-height: 16px;
        transform: rotate(90deg);
        @media screen and (max-width: $mobile){
            display: none;
        }
    }    
}
.home-button_line{
    position: absolute;
    left: 1vw;
    top: 44vh;
    width: 51px;
    border: 1.5px solid $text-color;
    background-color: $text-color;
    transform: rotate(90deg);
    @media screen and (max-width: $mobile){
        display: none;
    }
}
.home__button-calculate{
    position: relative;
    left: 4vw;
    top: 30vh;
    width: 207px;
    height: 51px;
    border: $text-color;  
    border-radius: 2px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    background-color: $text-color;
    @media screen and (max-width: $mobile){
        top: 16.5vh;
        width: 338.61px;
    }
    a{
        font-family: $FuturaDemiC;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        color: #FFFFFF;
    }
    &:hover{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.2);
    }
}
.home__button-submit{
    position: relative;
    left: 5vw;
    top: 30vh;
    width: 207px;
    height: 51px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.01);
    @media screen and (max-width: $mobile){
        left: 4vw;
        top: 19vh;
        width: 338.61px;
    }
    .submit-text-desktop{
        font-family: $FuturaDemiC;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        color: #FFFFFF;
        @media screen and (max-width: $mobile){
            display: none;
        }
    }
    .submit-text-mobile{
        display: none;
        @media screen and (max-width: $mobile){
            display: inline;
            font-family: $FuturaDemiC;
            font-size: 13px;
            line-height: 15px;
            text-align: center;
            color: #FFFFFF;
        }
    }
    &:hover{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.2);
    }
}
.button-scroll{
    position: relative;
    right: 6%;
    top: 57%;
    width: 247px;
    height: 97px;
    background-color: $bg-color;
    @media screen and (max-width: $mobile){
        display: none;
    }
    a{
        position: relative;
        top: 4.2vh;
        left: 3.5vw;
        display: flex;
        align-items: center;
        width: 150px;
        height: 29px;
        font-family: $YesevaOne;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: #FFFFFF;
        img{
            width: 29px;
            height: 29px;
            margin-left: 1.2vw;
        }
    }
}


.projects{
    display: flex;
    width: 100%;
    height: 1074px;
    background-color: $bg-color;
    @media screen and (max-width: $mobile){
        // display: grid;
        // grid-template-areas: "header" "slider";
        flex-direction: column;
        height: 1547px;
    }
}
.projects__description{
    display: grid;
    grid-template-areas: "header header" 
                         "city area"
                         "time cost"
                         "control control";
    grid-template-rows: 2fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 426px;
    height: 482px;
    padding-left: 7vw;
    padding-top: 16vh;
    @media screen and (max-width: $mobile){
        grid-template-areas: "header header" "slider slider" "city area" "time cost";
        grid-template-rows: 2fr 250px 1fr 1fr;
        padding-left: 0;
        padding-top: 7vh;
        width: 375px;
    }
}
.projects__description-section{
    grid-area: header;
}
.projects__description-header{
    font-family: $YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: $text-color;
    @media screen and (max-width: $mobile){
        font-size: 22px;
        line-height: 138.6%;
        text-align: center;
        letter-spacing: -0.07em;
    }
}
.projects_description-line{
    position: relative;
    bottom: 9%;
    left: 38%;
    width: 92px;
    border: 1px solid $text-color;
    background-color: $text-color;
    @media screen and (max-width: $mobile){
        display: none;
    }
}
.projects__description-text{
    margin-top: 4%;
    margin-bottom: 11%;
    font-family: $FuturaBookC;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
    @media screen and (max-width: $mobile){
        width: 311px;
        padding-left: 9%;
        font-size: 14px;
        line-height: 158.48%;
        /* or 22px */
        text-align: center;
    }
}
.projects__descripion-city,
.projects__descripion-area,
.projects__descripion-time,
.projects__descripion-cost{
    h2{
        font-family: $YesevaOne;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        color: $text-color;
        @media screen and (max-width: $mobile){
            font-size: 14px;
            line-height: 138.6%;
        }
    }
    p{
        font-family: $FuturaBookC;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
        @media screen and (max-width: $mobile){
            font-size: 14px;
            line-height: 135.84%;
        }
    }
}
.projects__descripion-city{
    grid-area: city;
    margin-bottom: 18%;
    @media screen and (max-width: $mobile){
        margin-top: 8%;
        padding-left: 11%;
        margin-bottom: 10%;
    }
}
.projects__descripion-area{
    grid-area: area;
    margin-bottom: 18%;
    @media screen and (max-width: $mobile){
        margin-top: 8%;
        margin-bottom: 10%;
    }
}
.projects__descripion-time{
    grid-area: time;
    margin-bottom: 18%;
    @media screen and (max-width: $mobile){
        padding-left: 11%;
    }
}
.projects__descripion-cost{
    grid-area: cost;
    margin-bottom: 18%;
    @media screen and (max-width: $mobile){

    }
}
.projects__slider-control{
    grid-area: control;
    align-self: flex-end;
    input{
        display: none;
    }
}

.projects__slider-label {
    display: flex;
    align-items: center;
    @media screen and (max-width: $mobile){
        display: none;
    }
    label{
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 0 8px;
        border-radius: 30px;
        cursor: pointer;
        background: rgba(255, 255, 255, 0.3);
    }
    
  }
  
#switch1:checked~.projects__slider-label label[for="switch1"] {
    background-color: white;
}
#switch2:checked~.projects__slider-label label[for="switch2"] {
    background-color: white;
}
#switch3:checked~.projects__slider-label label[for="switch3"] {
    background-color: white;
}
.slider-control_left{
    margin-right: 10px; 
}
.slider-control_right{
    margin-left: 10px; 
}

.projects__slider-navigation{
    margin-bottom: 5%;
    @media screen and (max-width: $mobile){
        display: none;
    }
    li{
        display: inline;
        margin-right: 6%;
        font-family: $YesevaOne;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.3);
        &:hover{
            padding-bottom: 10px;
            border-bottom: 1px solid $text-color;
            color: $text-color;
        }
    }
}
.projects__slider{
    position: relative;
    top: 6%;
    left: 5%;
    width: 920px;
    @media screen and (max-width: $mobile){
        top: -18%;
        grid-area: slider;
        width: 340px;
        height: 240px;
    }
}
.slides1,
.slides2,
.slides3{
    float: left;
    width: 47vw;
    margin-right: 1%;
    @media screen and (max-width: $mobile){
        width: 340px;
        height: 241px;
    }

}
.slider-inner {
    width: 92.1%;
    overflow: hidden;
    @media screen and (max-width: $mobile){
        width: 163%;
    }
  }
.slides {
    width: 300%;
    transition: all 0.5s;
}
.slider_button-right{
    position: absolute;
    left: 85%;
    top: 26%;
    width: 6.5vh;
    height: 6.5vh;
    border: 0;
    border-radius: 50%;
    background-color: $text-color;
    @media screen and (max-width:$mobile) {
        left: 87%;
        top: 41%;
        width: 36px;
        height: 36px;
        border: 0;
        border-radius: 50%;
        background-color: $text-color;
        img{
            width: 6px;
        }
    }
}
.slider_button-left{
    display: none;
    @media screen and (max-width:$mobile) {
        position: absolute;
        top: 41%;
        left: 2%;
        display: block;
        width: 36px;
        height: 36px;
        border: 0;
        border-radius: 50%;
        background-color: $text-color;
        img{
            width: 6px;
        }
    }
}


.section_online-control{
    position: absolute;
    top: 1540px;
    left: 22vw;
    width: 817px;
    height: 980px;
    @media screen and (max-width:$mobile) {
        width: 370px;
        top: 1225px;
        left: 0;
        margin-left: 4.5%;
    }
}
.online-control_header{
    font-family: $YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    @media screen and (max-width:$mobile) {
        margin-bottom: 5%;
    }
}
.online-control_group{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 4%;
    @media screen and (max-width:$mobile) {
        margin-bottom: 5%;
    }
}
.online-line{
    width: 32px;
    height: 0.5px;
    border: 0.5px solid $text-color;
    background-color: $text-color;
}
.online-control_video{
    margin-bottom: 4%;
    iframe{
        -webkit-box-shadow: 0px 4px 24px -8px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 4px 24px -8px rgba(0,0,0,0.75);
        box-shadow: 0px 4px 24px -8px rgba(0,0,0,0.75);
    }
    @media screen and (max-width:$mobile) {
        width: 340px;
        height: 207px;
    }

}
.online-control__text-line{
    position: relative;
    left: 46%;
    width: 55px;
    height: 0.5px;
    margin-bottom: 6%;
    border: 0.5px solid $text-color;
    @media screen and (max-width:$mobile) {
        left: 39%;
    }
}
.online-control_text{
    position: relative;
    left: 8%;
    margin-bottom: 12%;
    width: 681px;
    font-family: $FuturaBookC;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: $bg-color;
    @media screen and (max-width:$mobile) {
        left: 0;
        width: 340px;
        font-size: 14px;
        line-height: 169.8%;
        color: #FFFFFF;
    }
}
.submit-form{
   position: relative;
   height: 116px;
   @media screen and (max-width:$mobile) {
       width: 340px;
       height: 311px;
       display: flex;
       flex-direction: column;
   }
}
.submit-form__label{
    position: absolute;
    bottom: 110px;
    margin-left: 1.7%;
    font-family: $FuturaBookC;
    font-size: 15px;
    line-height: 20px;
    color: rgba(54, 54, 54, 0.5);
    @media screen and (max-width:$mobile) {
        position: relative;
        bottom: 0;
        margin-left: 0;
        font-size: 15px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.5);
    }
}
.submit-form__input{
    width: 233px;
    height: 30px;
    margin-left: 2%;
    margin-right: 4%;
    border: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);

    font-family: $FuturaBookC;
    font-size: 18px;
    line-height: 24px;
    color: #363636;
    @media screen and (max-width:$mobile) {
        width: 340px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 2%;
        margin-bottom: 12%;
        background-color: $bg-color;
        border-bottom: 1px solid rgba(255,255, 255, 0.3);
        box-sizing: border-box;
        color: #FFFFFF;
    }
}
.submit-form__button-submit{
    position: absolute;
    top: -13%;
    width: 200px;
    height: 51px;
    border: 0;
    border-radius: 2px;
    background-color: $text-color;
    font-family: $FuturaDemiC;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    -webkit-box-shadow: 0px 4px 24px -8px rgba(227,184,115,1);
    -moz-box-shadow: 0px 4px 24px -8px rgba(227,184,115,1);
    box-shadow: 0px 4px 24px -8px rgba(227,184,115,1);
    @media screen and (max-width:$mobile) {
        top: 282px;
        width: 340px;
        height: 51px;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(227,184,115,1);
        -moz-box-shadow: 0px 0px 0px 0px rgba(227,184,115,1);
        box-shadow: 0px 4px 0px 0px rgba(227,184,115,1);
    }
}

.submit-form__checkbox{
  display: none;
}
.submit-form__checkbox-label:after {
    position: absolute;
    left: -10%;
    top: 16%;
	content:'';
	display:block;
	height: 11px;
	width: 11px;
    outline:1px solid $text-color;
    border-radius: 1px;
    @media screen and (max-width:$mobile) {
       
    }

}
.submit-form__checkbox:checked + .submit-form__checkbox-label:after {
    content: '\2714';
    width:11px;
	height:11px;
	outline:1px solid $text-color;
    border-radius: 1px;
    background-color: $text-color;
    font-size:8px;
    line-height: 112%;
    color: #FFFFFF;
    text-align: center;
}
.submit-form__checkbox-label{
    position: absolute;
    top: 53%;
    left: 34%;
    font-family: $FuturaBookC;
    font-size: 16px;
    line-height: 22px;
    @media screen and (max-width:$mobile) {
        position: relative;
        top: 0;
        left: 10%;
        color: #FFFFFF;
    }
}



.measurement{
    position: relative;
    width: 100%;
    height: 2620px;
    @media screen and (max-width: $mobile){
        height: 2030px;
    }
}

.article__type-repair{
    position: absolute;
    top: 780px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    @media screen and (max-width:$mobile) {
        top: 90px;
    }
}
.type-repair__header{
    font-family: $YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;

}
.type-repair__group{
    position: relative;
    left: 44%;
    display: flex;
    align-items: center; 
    width: 257px;
    margin-top: 2%;
    @media screen and (max-width:$mobile) {
        left: 34.4%;
        margin-top: 4%;
    }
}
.type-repair__line{
    width: 32px;
    height: 0.5px;
    margin-left: 2%;
    margin-right: 2%;
    border: 0.5px solid $text-color;
    background-color: $text-color;
}
.types-design{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 616px;
    margin-top: 4%;
    @media screen and (max-width:$mobile) {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 370px;
        height: 1631px;
        margin-left: 1%;
    }
    section{
        width: 28vw;
        height: 421px;
        margin-right: 2%;
        @media screen and (max-width:$mobile) {
            width: 340px;
            height: 365px;
        }
    }
}
.types-design__section1{
    background-image: url('../assets/types_design1.png');
    background-size: cover;
}
.types-design__section2{
    background-image: url('../assets/types_design2.png');
    background-size: cover;
}
.types-design__section3{
    background-image: url('../assets/types_design3.png');
    background-size: cover;
}
.types-design__article{
    position: relative;
    top: 68%;
    left: 8%;
    width: 23vw;
    height: 286px;
    background-color: #FFFFFF;
    @media screen and (max-width:$mobile) {
        left: 0;
        width: 270px;
        height: 241px;
    }
}
.types-design__header{
    position: relative;
    top: 6%;
    left: 7%;
    font-family: $YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    @media screen and (max-width:$mobile) {
        font-size: 15px;
        line-height: 138.8%;
    }
}
.types-design__list{
    position: relative;
    top: 9%;
    left: 15%;
    font-family: $FuturaBookC;
    font-size: 15px;
    line-height: 25px;
    color: #959595;
    li{
        list-style:disc;
    }
    @media screen and (max-width:$mobile) {
        font-size: 13px;
        line-height: 169.8%;
    }
}
.types-design__rectangle{
    position: relative;
    top: 18%;
    width: 228px;
    height: 54px;
    background-color: $text-color;
    @media screen and (max-width:$mobile) {
        width: 190px;
        height: 40px;
    }
    p{
        padding-top: 5%;
        font-family: $YesevaOne;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;
        @media screen and (max-width:$mobile) {
            font-size: 15px;
            line-height: 138.6%;
        }

    }
}




.styles{
    width: 100%;
    height: 864px;
    background:-webkit-linear-gradient(45deg, #13131380, #13131380), url('../assets/image_5.1.png');
    background:-moz-linear-gradient(45deg, #13131380, #13131380), url('../assets/image_5.1.png');
    background:-ms-linear-gradient(45deg, #13131380, #13131380), url('../assets/image_5.1.png');
    background-size: cover;
}
.design-project{
    width: 100%;
    height: 621px;
}
.goal{
    width: 100%;
    height: 1615.53px;
    background-color: $bg-color;
}
.clients{
    width: 100%;
    height: 1522px;
}
.map{
    width: 100%;
    height: 953.9px;
    background:-webkit-linear-gradient(45deg, #13131380, #13131380), url('../assets/image_7.2.png');
    background:-moz-linear-gradient(45deg, #13131380, #13131380), url('../assets/image_7.2.png');
    background:-ms-linear-gradient(45deg, #13131380, #13131380), url('../assets/image_7.2.png');
}
footer{
    width: 100%;
    height: 133px;
    background-color: $bg-color;
}
