@font-face{
    font-family: "FuturaDemiC";
    src: url("../assets/fonts/FuturaDemiC.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "FuturaBookC";
    src: url("../assets/fonts/futurabookc.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "FuturaMediumC";
    src: url("../assets/fonts/futuramediumc.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}